<%- include("header")-%>

<h1 class="about-h1">
  About the developer
</h1>

<h2>
  Sunil Adabala
</h2>

<p>
  Sunil Adabala aKa Linus is full stack web developer (not yet there) whose interests lie in Information security but he feels its way out of his league and capacity for now.
</p>


<%- include("footer")-%>
